<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewtype" content="width=device-width, initial-scale=1.0">
        <title>Авторизация</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <header>
            <h1>Авторизация</h1>
        </header>
        <main>
            <form id="loginForm" action="/login" method="POST">
                <label for="username">Имя пользователя: </label>
                <input type="text" id="username" name="username" required>

                <label for="password">Пароль: </label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Войти</button>
            </form>
            <p>Создать аккаунт - <a href="/register">Зарегистрироваться</a></p>
        </main>   
    </body>
</html>